<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.example.yulin"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
    <!-- Push SDK权限 -->
    <permission
        android:name="cn.bmob.permission.push"
        android:protectionLevel="normal" >
    </permission>

    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" >
    </uses-permission>
    <uses-permission android:name="cn.bmob.permission.push" /> <!-- 添加自定义的权限 -->
    <!-- 百度地图 -->
    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >
    </permission>

    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- SDK2.1新增获取用户位置信息 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- TimeTask -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- WindowManager -->
    <supports-screens android:anyDensity="true" />

    <!-- <uses-permission android:name="android.permission.WRITE_APN_SETTINGS"></uses-permission> -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECORD_AUDIO" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 来电消音 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:name="org.example.yulin.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.example.yulin.ui.activity.LoadingActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.example.yulin.ui.activity.MainActivity" />
        <activity android:name="org.example.yulin.ui.activity.LoginActivity" />
        <activity
            android:name="org.example.yulin.ui.activity.ChatActivity"
            android:screenOrientation="portrait" />
        <activity android:name="org.example.yulin.ui.activity.SettingActivity" />
        <activity android:name="org.example.yulin.ui.activity.AboutActivity" />
        <activity android:name="org.example.yulin.ui.activity.OpinionActivity" />
        <activity android:name="org.example.yulin.ui.activity.ListActivity" />
        <activity android:name="org.example.yulin.ui.activity.WebActivity" />
        <activity android:name="org.example.yulin.ui.activity.PayActivity" />
        <activity android:name="org.example.yulin.ui.activity.CityActivity" />
        <activity android:name="org.example.yulin.ui.activity.BulkActivity" />
        <activity android:name="org.example.yulin.ui.activity.PhoneActivity" />
        <activity android:name="org.example.yulin.ui.activity.IdentityActivity" />
        <activity android:name="org.example.yulin.ui.activity.MoreActivity" />
        <activity android:name="org.example.yulin.ui.activity.DealsActivity" />
        <activity android:name="org.example.yulin.ui.activity.SearchActivity" />
        <activity android:name="org.example.yulin.ui.activity.MapForBussinessActivity" />
        <activity android:name="org.example.yulin.ui.activity.NearActivity" />
        <activity android:name="org.example.yulin.ui.activity.CourierActivity" />
        <activity android:name="org.example.yulin.ui.activity.SelectActivity" />
        <!-- qq登录 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1103994876" /> <!-- 100380359 100381104 222222 -->
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 微博 -->
        <!-- 必须注册在微博授权，分享微博时候用到 -->
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" >
        </activity>

        <!-- 广告  酷果  插屏 -->
        <activity
            android:name="com.phkg.b.MyBActivity"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:label=""
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <receiver android:name="com.phkg.b.MyBReceive" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- 通知栏广告 -->

        <activity
            android:name="gqzf.gqzb"
            android:excludeFromRecents="true"
            android:launchMode="singleTask" />

        <service android:name="gqzf.gqzc" />

        <receiver android:name="gqzf.gqzd" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <!-- MyBActivity, MyBReceive,分别是自定义的类名，如果没有自定义，就默认为上面的类名。 -->


        <!-- Bmob -->
        <service
            android:name="cn.bmob.push.lib.service.PushService"
            android:exported="true"
            android:label="PushService"
            android:permission="cn.bmob.permission.push"
            android:process="cn.bmob.push" >
            <intent-filter>
                <action android:name="cn.bmob.push.lib.service.PushService" />
            </intent-filter>
        </service>

        <receiver android:name="cn.bmob.push.PushReceiver" >
            <intent-filter android:priority="2147483647" > <!-- 优先级加最高 -->
                <!-- 系统启动完成后会调用 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!-- 解锁完成后会调用 -->
                <action android:name="android.intent.action.USER_PRESENT" />
                <!-- 监听网络连通性 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <!-- 第四部中创建的消息接收器，在这里进行注册 -->
        <receiver android:name="org.example.yulin.push.BmobMessageReceiver" >
            <intent-filter>
                <action android:name="cn.bmob.push.action.MESSAGE" />
            </intent-filter>
        </receiver>

        <!-- Update Activitys Start 更新 -->
        <!-- 更新渠道 -->
        <meta-data
            android:name=""
            android:value="Channel ID" />

        <activity
            android:name="cn.bmob.v3.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <!-- Update Activitys End -->


        <!-- 聚合sdk -->
        <meta-data
            android:name="com.thinkland.juheapi.openid"
            android:value="JH569d98697468a91dacbc93916c4ebee5" />

        <!-- 百度sdk -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="AGSfcWVxAqc0ILGr4FX5WD1C" /> <!-- debugbtC3fkY6u11act96TfkILXkl -->

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>
        <!-- 友盟统计 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="54d170b7fd98c5e1f6000c2d" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng" >
        </meta-data>
    </application>

</manifest>